---
import FrontendB from "../components/FrontendB.jsx";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Beetlejuice micro-frontends</title>
    <script type="importmap">
    {
      "imports": {
        "react": "https://esm.sh/react",
        "react-dom": "https://esm.sh/react-dom",
        "solid-js": "https://esm.sh/solid-js"
      }
    }
    </script>
  </head>
  <body>
    <main>
      <h1>Products</h1>
      <main>
        <FrontendB client:only="react" />
      </main>
    </main>
  </body>
</html>

<style>
html {
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
}

main {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 1024px;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
</style>